################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project_AJJ/.vs/Project_AJJ/v16
/Project_AJJ/x64/Debug
/Project_AJJ/SFML-2.5.1
/AJJ_TestEnvironment/x64/Debug
/Project-AJJ-UnitTests/x64/Debug/Project-.FB87EBDF.tlog
/Project-AJJ-UnitTests/x64/Debug
/Project_AJJ/.vs/Project_AJJ/v17
